*

!workspace.yaml
!README.md
!env.example.yaml
!.gitignore

!home/
!home/.bashrc

!scripts/
!scripts/**

!services/
!services/database/**
!services/es/**
!services/elastic/**
!services/kafka/**
!services/proxy/**
!services/redis/**

!templates/fpm-8.1/
!templates/fpm-8.1/**

!templates/swoole-8.1/
!templates/swoole-8.1/**